@import "./settings-light-mode.css";
@import "./settings-light-mode.css";
@import "./settings-light-mode.css";
@import "./settings-light-mode.css";
@import "./settings-light-mode.css";
@import "./settings-light-mode.css";
@import "./settings-light-mode.css";
@import "./settings-light-mode.css";
:root {
  --color-text: #757575;
  --color-bg: #ebecf0;
  --color-accent-blue: #2470A0;
  --color-bright-blue: #e038b6;
  --color-shadow-dark_40: #474f6166;
  --color-shadow-dark_100: #484f60;
  --color-shadow-light_0: #53090900;
  --color-shadow-light_40: #ffffff66;
  --color-shadow-light_100: #ffffff;
  --shadow-drop: 8px 8px 12px -2px var(--color-shadow-dark_40),
      -6px -6px 12px -1px var(--color-shadow-light_100);
  --shadow-inner: inset -4px -4px 6px -1px var(--color-shadow-light_100),
      inset 2px 2px 8px -1px var(--color-shadow-dark_40);
  --height: 54px;
  --fontFamily: Proxima Nova, monospace !important;
  --fontSize: 18px;
  --fontWeight: 700;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 745px;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px 40px;
}

.spaced-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--fontSize);
  color: var(--color-text);
  padding: 0 8px;
  position: relative;
  border: 3px solid var(--color-shadow-light_0);
  outline: none;
  text-align: center;
  background-color: var(--color-bg);
  transition: all 250ms ease-in-out;
  box-shadow: var(--shadow-drop);
  cursor: pointer;
}
button:hover {
  box-shadow: none;
  border-color: var(--color-shadow-light_100);
}
button:active {
  box-shadow: var(--shadow-inner);
  border-color: var(--color-shadow-light_0);
}
button > * {
  vertical-align: middle;
}
button > span:last-child {
  padding-left: 8px;
}

.square-lg {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  border-radius: 24px;
  font-size: 64px;
}
.square-lg__gradient-text {
  width: 100%;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-btn {
  width: var(--height);
  height: var(--height);
  border-radius: 14px;
}
.icon-btn__icon {
  width: 24px;
  height: 24px;
  fill: var(--color-text);
}

.oval-sm, .oval-lg, .oval-lg--with-icon, .oval-xlg {
  height: var(--height);
  padding: 0 28px;
  border-radius: 40px;
}

.oval-xlg {
  width: 100%;
}

.oval-lg, .oval-lg--with-icon {
  width: 210px;
}
.oval-lg--with-icon {
  text-align: left;
}

.oval-sm {
  width: 140px;
}

.graph {
  display: flex;
  width: 250px;
  align-items: flex-end;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
.graph__line, .graph__line--five, .graph__line--four, .graph__line--three, .graph__line--two, .graph__line--one {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--fontSize);
  color: var(--color-text);
  padding: 0 8px;
  position: relative;
  border: 3px solid var(--color-shadow-light_0);
  outline: none;
  text-align: center;
  background-color: var(--color-bg);
  transition: all 250ms ease-in-out;
  width: 32px;
  position: relative;
  border-radius: 32px;
  box-shadow: var(--shadow-inner);
  background-color: var(--color-bg);
}
.graph__line:hover, .graph__line--five:hover, .graph__line--four:hover, .graph__line--three:hover, .graph__line--two:hover, .graph__line--one:hover {
  box-shadow: none;
  border-color: var(--color-shadow-light_100);
}
.graph__line:before, .graph__line--five:before, .graph__line--four:before, .graph__line--three:before, .graph__line--two:before, .graph__line--one:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  background-color: var(--color-accent-blue);
}
.graph__line--one {
  height: 66%;
}
.graph__line--one:before {
  height: 58%;
}
.graph__line--two {
  height: 90%;
}
.graph__line--two:before {
  height: 80%;
}
.graph__line--three {
  height: 50%;
}
.graph__line--three:before {
  height: 45%;
}
.graph__line--four {
  height: 100%;
}
.graph__line--four:before {
  height: 83%;
}
.graph__line--five {
  height: 66%;
}
.graph__line--five:before {
  height: 66%;
}

input {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--fontSize);
  color: var(--color-text);
  padding: 0 8px;
  position: relative;
  border: 3px solid var(--color-shadow-light_0);
  outline: none;
  text-align: center;
  background-color: var(--color-bg);
  transition: all 250ms ease-in-out;
  box-shadow: var(--shadow-inner);
}
input:hover {
  box-shadow: none;
  border-color: var(--color-shadow-light_100);
}
input:focus {
  box-shadow: none;
  border-color: var(--color-shadow-light_40);
}
input::-moz-placeholder {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--fontSize);
  color: var(--color-text);
  opacity: 1;
}
input::placeholder {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--fontSize);
  color: var(--color-text);
  opacity: 1;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--color-text);
}

.progress {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--fontSize);
  color: var(--color-text);
  padding: 0 8px;
  position: relative;
  border: 3px solid var(--color-shadow-light_0);
  outline: none;
  text-align: center;
  background-color: var(--color-bg);
  transition: all 250ms ease-in-out;
  width: 100%;
  height: 12px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 7;
  position: relative;
  margin-top: 16px;
  border-radius: 12px;
  box-shadow: var(--shadow-drop);
  background-color: var(--color-bg);
}
.progress:hover {
  box-shadow: none;
  border-color: var(--color-shadow-light_100);
}
.progress__fill {
  width: 40%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  background: linear-gradient(to right, var(--color-accent-blue), var(--color-bright-blue));
}
.progress__fill:before {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--fontSize);
  color: var(--color-text);
  content: "40%";
  padding: 11px 15px;
  margin-top: -16px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -100%);
  border-radius: 8px;
  box-shadow: var(--shadow-drop);
  background-color: var(--color-bg);
}
.progress__fill:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 12px;
  transform: translate(50%, -100%);
  border-top: 9px solid var(--color-bg);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.radio__input {
  display: none;
}
.radio__input:checked + .radio__btn {
  box-shadow: var(--shadow-inner);
  border-color: var(--color-shadow-light_0);
}
.radio__input:checked + .radio__btn:before {
  background-color: var(--color-accent-blue);
  background: var(--color-accent-blue);
}
.radio__btn {
  width: var(--height);
  height: var(--height);
  display: block;
  position: relative;
  border: 3px solid var(--color-shadow-light_0);
  border-radius: 100%;
  box-shadow: var(--shadow-drop);
  background-color: var(--color-bg);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.radio__btn:hover {
  box-shadow: none;
  border-color: var(--color-shadow-light_40);
}
.radio__btn:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: 3px solid var(--color-accent-blue);
  transition: all 200ms ease-in-out;
}

.search {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}
.search__icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  stroke-width: 0.5px;
}
.search__input {
  padding: 0 60px;
  text-align: left;
}

.toggle {
  width: 80px;
  height: var(--height);
  position: relative;
}
.toggle__input {
  display: none;
}
.toggle__input:checked + .toggle__switch {
  background-color: var(--color-accent-blue);
  box-shadow: var(--shadow-drop);
}
.toggle__input:checked + .toggle__switch:before {
  left: 50%;
}
.toggle__input:checked + .toggle__switch:hover {
  box-shadow: none;
}
.toggle__switch {
  width: var(--height);
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--fontSize);
  color: var(--color-text);
  padding: 0 8px;
  position: relative;
  border: 3px solid var(--color-shadow-light_0);
  outline: none;
  text-align: center;
  background-color: var(--color-bg);
  transition: all 250ms ease-in-out;
  display: block;
  border-radius: 16px;
  box-shadow: var(--shadow-inner);
  background-color: var(--color-bg);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.toggle__switch:hover {
  box-shadow: none;
  border-color: var(--color-shadow-light_100);
}
.toggle__switch:hover {
  box-shadow: none;
}
.toggle__switch:before {
  content: "";
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  left: -20%;
  border-radius: 100%;
  background-color: var(--color-shadow-light_100);
  transform: translateY(-50%);
  box-shadow: 0px 1px 2px var(--color-shadow-dark_40);
  transition: left 300ms ease-in-out;
  border: 1px solid var(--color-shadow-light_40);
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_176_2)"><path d="M9 0C7.21997 0 5.47991 0.527841 3.99987 1.51677C2.51983 2.50571 1.36628 3.91131 0.685088 5.55585C0.00389951 7.20038 -0.17433 9.00998 0.172937 10.7558C0.520204 12.5016 1.37737 14.1053 2.63604 15.364C3.89472 16.6226 5.49836 17.4798 7.24419 17.8271C8.99002 18.1743 10.7996 17.9961 12.4442 17.3149C14.0887 16.6337 15.4943 15.4802 16.4832 14.0001C17.4722 12.5201 18 10.78 18 9C18 8.54 17.96 8.08 17.9 7.64C17.4003 8.34066 16.7401 8.91146 15.9746 9.30465C15.2091 9.69784 14.3606 9.90198 13.5 9.9C12.3552 9.90003 11.24 9.53643 10.3152 8.86166C9.39041 8.18689 8.70385 7.23581 8.35454 6.14561C8.00523 5.05541 8.01123 3.88243 8.37167 2.79586C8.73211 1.70928 9.42836 0.765281 10.36 0.0999999C9.92 0.0399999 9.46 0 9 0Z" fill="%230B5589"/></g><defs><clipPath id="clip0_176_2"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100%;
  display: inline-block;
  background-size: 50%;
}
.toggle__switch:before:hover {
  border: 1px solid var(--color-accent-blue);
}