@import "../../helpers/mixins";

// Checkbox
.checkbox {
    &_input {
        display: none;

        &:checked+.checkbox_btn {
            box-shadow: var(--shadow-inner);
            border-color: var(--color-shadow-light_0);

            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 32 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 3L8 14L3 9' stroke='%230B5589' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    &_btn {
        @include size(var(--height_sm));

        display: block;
        position: relative;
        border: 3px solid var(--color-shadow-light_0);
        border-radius: 0.5em;
        box-shadow: var(--shadow-drop);
        background-color: var(--color-bg);
        cursor: pointer;
        transition: all 250ms ease-in-out;

        &:hover {
            box-shadow: none;
            border-color: var(--color-shadow-light_40);
        }

        &:before {
            content: "";
            @include size(calc(var(--height_sm) / 2));
            @include center;
            transition: all 200ms ease-in-out;
        }
    }
}